#main-cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Coordonnees Formulaire */



#div-coordonnees {
    position: relative;
    /*overflow: hidden;   Le formulaire depasse de sa "case" et le bout est caché si overflow hidden, le form prend toute sa largeur*/    
    margin: 2em;
    padding: 2em;
    border-radius: 10px;
    display: grid;
    justify-items: start;
    justify-content: space-around;
}

#div-coordonnees:before {
    position: absolute;
    background: url("../media/images/orange-bg.jpg"), rgba(248, 121, 3, 0.795) 50% / cover no-repeat;
    content: '';
    z-index: -1;
    opacity: 0.35;
    width: 100%;
    height: 100%;
    background-position: 70% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

#form-coords {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row: 2;
    justify-items: center;
    align-items: center;
}


.form-col1 {
    grid-column: 1;
}

.form-col2 {
    grid-column: 2/3;
}

.form-col3 {
    grid-column: 3;
}

.form-col4 {
    grid-column: 4;
}

/*form.formulaire {
    background-color: #8D7471;
} */

form.formulaire legend {
    font-family: "Calligraffitti", sans-serif;
    font-size: 14px;
}

form label {
    font-family: 'Helvetica';
    display: inline-block;
    font-size: 15px;
}

form.formulaire input,
form.formulaire select {
    display: inline-block;
    width: 100%;
    padding: 7px 7px;
    /* margin: 5px 0; */
    /* display: inline-block; */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    box-sizing: border-box;
}



textarea.formulaire {
    vertical-align: middle;
}

input:required:invalid {
    border: 1px red dotted;
}

input.invalidInput {
    border: 2px red dotted;
    background-color: pink;
}

/* Partie Panier (droit) */
.div-cart {
    display: grid;
    justify-content: space-around;
    align-content: stretch;
    justify-items: center;
    grid-template-rows: min-content;
    background-color: #CCBA8B;
    margin: 2em;
    padding: 2em;
}

/* Contenu du panier A FAIIIIIIIIIIIIIIIIIIIIRE */

td img {
    width: auto;
    max-width: 50px;
    height: auto;
    overflow: hidden;
}

/* Buttons */
/* Reset button */
form.formulaire input[type=reset], .reset-btn, .remove-btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Trebuchet MS;
	font-size:14px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
form.formulaire input[type=reset]:hover, .reset-btn:hover, .remove-btn:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
form.formulaire input[type=reset]:active, .reset-btn:active, .remove-btn:active {
	position:relative;
	top:1px;
}

/* Checkout button */

.checkout-btn {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Trebuchet MS;
	font-size:14px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.checkout-btn:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.checkout-btn:active {
	position:relative;
	top:1px;
}

/* Enregistrer button */
.save-btn {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:14px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.save-btn:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.save-btn:active {
	position:relative;
	top:1px;
}

/* form.formulaire input[type=submit] {
    width: 100%;
    background-color: #F18700;
    font-family: "Allan", sans-serif;
    font-size: 14px;
} */